*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier 
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#e4e4ea;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow:  -5px -5px 10px rgba(255,255,255,0.8),
    5px 5px 15px rgba(0, 0, 0, 0.155), 
    inset -2px -2px 6px rgba(255,255,255,0.8), 
    inset 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    box-sizing: border-box;
    background-color: #e4e4ea;
}
#title
{
    font-size: 2.4rem;
    font-weight: 900;
    text-align: center;
    
}
.button_box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 7%;
    margin-top: 15px;
    box-shadow:  -5px -5px 10px rgba(255,255,255,0.8),
    5px 5px 15px rgba(0, 0, 0, 0.155), 
    inset -2px -2px 6px rgba(255,255,255,0.8), 
    inset 2px 2px 6px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
    box-sizing: border-box;
    background-color: #e4e4ea;
    cursor: pointer;
} 
button 
{
    padding: 20px;
    background: transparent;
    text-shadow: 1px 1px 1px #202020;
    font-family: "Lato", sans-serif;
    font-size: 4rem;
    color: #ff0047;
    border: none;
    outline: none;
    cursor: pointer;
}
.fa
{
    
    font-weight: 900;
    color: #ff0047;
    cursor: pointer;
} 

@media screen and (max-width:768px) 
{
    .main
    {
        width: 80%;
    }
}
